<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}DocDump{% endblock %}</title>
    <link type="text/css" href="/static/css/ui.all.css" rel="stylesheet" />
    <script type="text/javascript" src="/static/js/jquery-1.4.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-custom.js"></script>
    <script type="text/javascript" src="/static/js/jquery.tags.js"></script>
    <script type="text/javascript" src="/static/js/ui.dialog.js"></script>
    <script type="text/javascript" src="/static/js/base.js"></script>
    <script type="text/javascript" src="/static/js/jquery.taconite.js"></script>
    <script type="text/javascript" src="/static/js/help.js"></script>
    <script type="text/javascript" src="/static/js/tags.js"></script>
    <script type="text/javascript" src="/static/js/scan.js"></script>
    <script type="text/javascript" src="/static/js/jquery.autocomplete.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/jquery.autocomplete.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/scan.css" />

    <style type="text/css">
        {% block styling %}
        {% endblock %}
        /* .after_break { display: none; } */
    </style>
</head>

<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
